
body{
    background:#212529;
}

.nav-link {
    color: #66ff66;
}

section {
    padding: 20px;
    background-color: #212529;
    margin-bottom: 20px;
    transition: transform 0.1s ease;
    color: white;
}


.navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.download-btn {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #555;
}

.social-icons a {
    margin: 0 5px;
    color: #f0f0d8;
    text-decoration: none;
    font-size: 20px;
}