body {
    font-family: monospace;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 100px;
}

.console {
    font-size: 16px;
    white-space: pre;
    overflow: hidden;
    position: relative;
    left: 0;
    
    color: #66ff66;
    animation: console-type 2s 2s steps(30) forwards;
    text-align: left;
    /* Agrega un borde derecho simulando el puntero */
}

@keyframes console-type {
    0% {
        width: 0;
    }

    100% {
        width: 400px;
    }
}

@keyframes menu-type {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}