
body {
  background:#000;
  font-family: monospace;
  color: #fff;
  margin: 0;
}
.nav-item {
  color: #66ff66;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  opacity: 0; /* Inicialmente oculto */
  
  animation: fadeIn 0.5s forwards; /* Nueva animación */
  text-decoration: none; /* Esto quitará el subrayado */
}

.menu-container {
  position: relative;
  top:0;
  right: 0;
  background-color: #000;
  box-sizing: border-box;
  
}

.console {
  font-size: 16px;
  position:relative;
  left:60;
  background-color:#000;
  color: #66ff66;
  border-right: 1px solid #66ff66; /* Borde derecho simulando el puntero */
}

.menu {
  list-style-type: none;
  padding: 0;
  background: #000;
  margin: 0;
  text-align: left;
}

.nav-link {
  color: #66ff66;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  animation: fadeIn 0.5s forwards; /* Nueva animación */
  text-decoration: none; /* Esto quitará el subrayado */
}

@keyframes fadeIn {
  100% {
    opacity: 5;
    transform: translateX(6);
  }
}

@keyframes slideIn {
  0% {
    width: 150px;
  }
}

@keyframes console-type {
  0% {
    width: 100;
  }
  100% {
    width: 100px;
  }
}
