body {
    background-color: #ada8a8b7;
    color: #000000;
}

/* Estilo específico para la barra lateral */
.w3-sidebar {
    background-color: #e10b0b;
}

/* Estilo específico para los botones */
.w3-button {
    background-color: #333;
    color: #fff;
}

.machine {
    background-color: #ffffff;
    padding: 5%;
    margin-bottom: 3%;
    display: none;
    height: auto;
}

.machine.active {
    display: block;
}

.machine h5 {
    margin-top: 0;

}

.machine p {
    margin-bottom: 10px;
}

.machine .imagen {
    margin-top: 20px;
}

.machine .imagen img {
    width: 580px;
    height: auto;
}